body {margin: 0;
      padding: 0;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
}
.theApp {height: 570px;
         width: 300px;
         background-color: #2E2E2E;
         border-radius: 20px;
         /* display: flex;
         justify-content: center;
         align-items: center; */
}
.theApp h2 {text-align: center;
            color: white;
            margin: 20px;
}
.theApp h2 span {color: tomato;
                 font-weight: bold;
}
li {list-style: none;
    color: white;
    display: flex;
}
li.strikethrough {text-decoration: line-through;
                  color: #777;
}
li#checkbox {margin-left: 40px;
}
#addNewInput {width: 230px;
              height: 45px;
              border-radius: 50px;
              background-color: unset;
              border: 2px solid tomato;
              margin: 10%;
              outline: none;
              color: white;
              padding: 10px;
}
#addNewButton {width: 120px;
               height: 35px;
               border-radius: 20px;
               background-color: unset;
               border: 2px solid tomato;
               color: tomato;
               outline: none;
               margin-left: 80px;
}
#firstList {width: 100%;
            height: fit-content;
            border-top: 2px solid white;
            background-color: rgb(26, 1, 1);
            margin-top: 20px;
}
#firstList li {margin: 10px;
               display: block;
               overflow: auto;
               flex-wrap: wrap;
}
.remove {float: right;
         width: 70px;
         height: 30px;
         border-radius: 5px;
         border: 1.5px solid white;
         background-color: unset;
         color: white;
}